.Letter {
  text-align: center;
  border: 1px solid grey;
  border-radius: 2px;
  padding: 20px 0;
  position: relative;
  background-color: rgb(255, 243, 211);
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Letter-character {
  font-size: 2em;
  font-weight: 500;
  margin: auto;
}

.Letter-points {
  color: red;
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2px
}
